body {
    background-color: #00003f;
    color: lightgray;
}

a {
    color: white;
    text-decoration: none;
}

.projects {
    border: 1px solid black;
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.notice {
    color: whitesmoke;
    opacity: 0.5;
    border-radius: 10px;
}
